fastapi
uvicorn
python-dotenv
google-generativeai
langchain==0.3.23
langchain_groq
pinecone-client
pydantic
groq
langchain-community
langchain-pinecone
langchain_huggingface
motor
transformers==4.36.0
sentence-transformers==2.2.2
